- title "Mrentz | Edit"
.container
    .bread
        = link_to "Home", root_path
        >
        My Account
    .text-center
        = render "layouts/flash"

    .row
        .col-md-4
            #edit
                .edit-title
                    %p 
                        Edit #{resource_name.to_s.humanize}

                .edit-content
                    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 'data-parsley-validate' => '' } do |f|
                        = f.error_notification
                        .form-inputs
                            = f.input :fullname, required: true, :input_html => {                             :'data-parsley-required-message' => 'Full name is required',                   :'data-parsley-pattern' => '^[a-zA-Z]+(?: [a-zA-Z]+)?$',                                     :'data-parsley-pattern-message' => 'Full name can only contain Alphabets',    :'data-parsley-length' => '[2, 32]',                                          :'data-parsley-length-message' => 'Full name should contain atleast 2 characters',                                                                  :'data-parsley-trigger' => 'change focusout keyup'}, autofocus: true, :placeholder => 'Full name'

                            = f.input :mobile_number, required: true, :input_html => {                        :'data-parsley-required-message' => 'Mobile number is required',              :'data-parsley-pattern' => "^[7-9][0-9]{9}$",                                  :'data-parsley-pattern-message' => 'Invalid Mobile number',                   :'data-parsley-trigger' => 'change focusout keyup'}, :placeholder => 'Mobile Number'

                            = f.hidden_field :is_verified, required: true, value: @test

                            = f.input :email, required: true, :input_html => {                                :'data-parsley-required-message' => 'Email is required',                      :'data-parsley-email-message' => 'Not a valid email address',                  :'data-parsley-trigger' => 'change focusout keyup'}, :placeholder => 'Email'

                            = f.input :password, required: false, :input_html => {                             :"data-parsley-length" => "[6, 20]",                                           :"data-parsley-length-message" => "Too short",                                 :'data-parsley-trigger' => 'change focusout keyup' }, autocomplete: "off", hint: "leave it blank if you don't want to change it", :placeholder => 'Password'


                        .form-action
                            = f.button :submit, "Update"
                        
                              
                .edit-footer
                    %p
                        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
                    = link_to "Back", :back

        .col-md-8

    .foot-space

%script
    $(document).ready(function(){
    $("#user_mobile_number").change(function(){
    - @test = 'false'
    });
    });


