- title "Mrentz | Sign up"
.container
    .text-center
        = render "layouts/flash"
    .row
        .col-md-4
        .col-md-4
            #sign_up
                .sign-up-title
                    %p Sign up for mrentz

                .sign-up-content
                    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { 'data-parsley-validate' => '' } do |f|
                        = f.error_notification
                        .row
                            .col-md-12
                                .form-inputs
                                    = f.input :fullname, required: true, :input_html => {                             :'data-parsley-required-message' => 'Full name is required',                   :'data-parsley-pattern' => '^[a-zA-Z]+(?: [a-zA-Z]+)?$',                                     :'data-parsley-pattern-message' => 'Full name can only contain Alphabets',    :'data-parsley-length' => '[2, 32]',                                          :'data-parsley-length-message' => 'Full name should contain atleast 2 characters',                                                                  :'data-parsley-trigger' => 'change focusout keyup submit'}, autofocus: true, label: false, :placeholder => 'Full name'

                                    = f.input :mobile_number, required: true, :input_html => {                        :'data-parsley-required-message' => 'Mobile number is required',              :'data-parsley-pattern' => "^[7-9][0-9]{9}$",                                  :'data-parsley-pattern-message' => 'Invalid Mobile number',                   :'data-parsley-trigger' => 'change focusout keyup submit'}, label: false, :placeholder => 'Mobile Number'
                                    
                                    = f.input :email, required: true, :input_html => {                                :'data-parsley-required-message' => 'Email is required',                      :'data-parsley-email-message' => 'Not a valid email address',                  :'data-parsley-trigger' => 'change focusout keyup submit'},  label: false, :placeholder => 'Email'

                                    = f.input :password, required: true, :input_html => {                              :'data-parsley-required-message' => 'Password is required',                  :"data-parsley-length" => "[6, 20]",                                           :"data-parsley-length-message" => "Too short",                                 :'data-parsley-trigger' => 'change focusout keyup submit' }, hint: ("6 characters minimum"), label: false, :placeholder => 'Password'



                                    .row
                                        .col-md-12.text-center
                                            .form-action
                                                = f.button :submit, "Sign up"
                                    %p.terms 
                                        By creating account with Mrentz, I agree to 
                                        = link_to "Terms of Use", term_path, target: "_blank"

                          
                              
                .sign-up-footer
                    = render "devise/shared/links"
            .col-md-4
