= javascript_include_tag 'listing.js'

= simple_form_for @listing, html: { multipart: true } do |f|
	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		%label Category
		= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" }, input_html: { class: "dropdown-toggle" }

	.form-group
		%label SubCategory
		= f.select :subcategory_id, options_for_select([])
	.form-group
		= f.input :description, input_html: { class: 'form-control' }

	.form-group
		= f.input :city, input_html: { class: 'form-control' }

	.form-group
		= f.input :state, input_html: { class: 'form-control' }

	.form-group
		= f.input :locality, input_html: { class: 'form-control' }

	= f.button :submit, "Post an Item", class: "btn btn-primary"
