= javascript_include_tag 'listing.js'

= simple_form_for @listing, html: { multipart: true } do |f|
	.form-group
		= f.input :title, input_html: { class: 'form-control' }


	
	= f.simple_fields_for :listing_attachments do |avatar|
		= render 'listing_attachment_fields', f: avatar
	.links
		= link_to_add_association 'add a photo', f, :listing_attachments

	.form-group
		%label Category
		= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" }, input_html: { class: "dropdown-toggle" }

	.form-group
		%label SubCategory
		= f.select :subcategory_id, options_for_select([])
	.form-group
		= f.input :description, input_html: { class: 'form-control' }

	.form-group
		= f.input :city, input_html: { class: 'form-control', id: 'city', autocomplete: 'off', data: {country: "in" } }

	.form-group
		= f.input :locality, input_html: { class: 'form-control' }

	= f.button :submit, "Post an Item", class: "btn btn-primary"

%script 
	$('input#city').cityAutocomplete();
