/ .nested-fields
/ 	.row
/ 		.col-md-4
/ 			.form-group
/ 				= f.file_field :avatar, required: true, class: "file-field" 
/ 				= f.hidden_field :avatar_cache, :value => f.object.avatar_cache

/ 		- if f.object.avatar.url.present?
/ 			.col-md-4
/ 				.form-group
/ 					= image_tag f.object.avatar.thumb.url

/ 		.col-md-4
/ 			.form-group
/ 				= link_to_remove_association "remove", f

.nested-fields

	- if f.object.new_record?
	
		.fileinput.fileinput-new{ :"data-provides" => "fileinput" }

			.fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
				- if f.object.avatar?
					= image_tag f.object.avatar.large.url, :"data-src" => "holder.js/100%x100%" 

			.fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}


			%span.btn.btn-default.btn-file
				%span.fileinput-new Select image
				%span.fileinput-exists Change
				= f.file_field :avatar
				= f.hidden_field :avatar_cache, :value => f.object.avatar_cache

			%a.btn.btn-default.fileinput-exists{:"data-dismiss" => "fileinput", :href => "#"} Remove

	- else

		.fileinput.fileinput-new{ :"data-provides" => "fileinput" }

			.fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
				- if f.object.avatar?
					= image_tag f.object.avatar.large.url, :"data-src" => "holder.js/100%x100%" 

			.fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}


			%span.btn.btn-default.btn-file
				%span.fileinput-new Select image
				%span.fileinput-exists Change
				= f.file_field :avatar
				= f.hidden_field :avatar_cache, :value => f.object.avatar_cache

			- if f.object.avatar?
				= link_to_remove_association "Remove", f, :class => "btn btn-default remove"
			%a.btn.btn-default.fileinput-exists{:"data-dismiss" => "fileinput", :href => "#"} Remove
