- @new_listings.each do |listing|
	
	.row
		.col-md-12
			.row.each-list
				.col-md-3.col-xs-6
					= link_to image_tag(listing.listing_attachments.first.avatar.list.url, class: "img-responsive img-thumbnail"), listing
				.col-xs-6.visible-xs.pr
					- if listing.price.blank?
					-else
						%p
							&#8377; 
							= listing.price 
							per 
							= listing.time
					- if listing.reviews.blank?
						- @avg_review = 0
					- else
						- @avg_review = listing.reviews.average(:rating).round(2)
					.star-rating{:data => {'score' => @avg_review}} 
				.col-md-7.col-xs-12.title
					%p
						= link_to listing.title, listing
					= listing.city
					- if listing.locality.blank?
					- else 
						,
						= listing.locality
					.date
						= listing.created_at.strftime('%B %d, %Y')
				.col-md-2.hidden-xs.pr
					- if listing.price.blank?
					-else
						%p
							&#8377; 
							= listing.price 
							per 
							= listing.time
					- if listing.reviews.blank?
						- @avg_review = 0
					- else
						- @avg_review = listing.reviews.average(:rating).round(2)
					.star-rating{:data => {'score' => @avg_review}} 
			%hr
					
					
.text-center
	= will_paginate @new_listings, param_name: :new_page, renderer: BootstrapPagination::Rails

%script
	$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
	score: function() {
	return $(this).attr('data-score');
	}
	});
