.container
	.bread
		= link_to "Home", root_path
		>
		My Items
	.text-center
		= render "layouts/flash"
#new-list
	.container
		.row
			.col-md-12
				%ul.nav.nav-pills.nav-justified
					%li.active
						%a{"data-toggle" => "pill", :href => "#new"} New
					%li
						%a{"data-toggle" => "pill", :href => "#high"} High Price

					%li
						%a{"data-toggle" => "pill", :href => "#low"} Low Price

					%li
						%a{"data-toggle" => "pill", :href => "#popular"} Popular
				%br

				.tab-content
					#new.tab-pane.fade.in.active
						.row.details
							- if @new_listings.present?
								.sort_paginate_ajaxnew
									= render "new_listings"
								
							- else 
								%p No Items found

					#high.tab-pane.fade
						.row.details
							- if @high_listings.present?
								.sort_paginate_ajaxhigh
									= render "high_listings"
								
							- else 
								%p No Items found

					#low.tab-pane.fade
						.row.details
							- if @low_listings.present?
								.sort_paginate_ajaxlow
									= render "low_listings"
								
							- else 
								%p No Items found

					#popular.tab-pane.fade
						.row.details
							- if @popular_listings.present?
								.sort_paginate_ajaxpopular
									= render "popular_listings"
								
							- else 
								%p No Items found