= link_to "Home", root_path



%ul
- if @listings.present?
	- @listings.each do |listing|
		%li
			%span
				= listing.created_at.strftime('%B %d, %Y')
			%br
			= link_to image_tag(listing.listing_attachments.first.avatar.thumb.url), listing
			- if listing.reviews.blank?
				- @avg_review = 0
			- else
				- @avg_review = listing.reviews.average(:rating).round(2)
			.star-rating{:data => {'score' => @avg_review}} 
			= link_to listing.title, listing
			( 
			= listing.city
			,
			= listing.state
			)
- else 
	%p No Items found

%script
	$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
	score: function() {
	return $(this).attr('data-score');
	}
	});