= link_to "Home", root_path
>
= link_to @category.name, @category
>
= @subcategory.name

%ul
- if @listings.present?
	- @listings.each do |listing|
		%li
			%span
				= listing.created_at.strftime('%B %d, %Y')
			= link_to listing.title, listing
			( 
			= listing.city
			,
			= listing.state
			)
- else 
	%p No Items found