- if notification.listing.nil?
- else
	%li{:class => ('unread' if notification.read == false)}
		- if notification.notice_type == 'modifi'
			= link_to(link_through_path(notification)) do
				.row
					.col-xs-4
						= image_tag(notification.listing.listing_attachments.first.avatar.showthumb.url, class: "img-responsive img-thumbnail")
					.col-xs-8
						%p
							= "#{notification.notified_by.fullname} has #{notification.notice_type}ed their review on your post" 
							%span.time
								%span.glyphicon.glyphicon-time
								= "#{time_ago_in_words(notification.created_at)} ago"

		- else 
			= link_to(link_through_path(notification)) do
				.row
					.col-xs-4
						= image_tag(notification.listing.listing_attachments.first.avatar.showthumb.url, class: "img-responsive img-thumbnail")
					.col-xs-8
						%p
							= "#{notification.notified_by.fullname} has #{notification.notice_type}ed your post" 
							%span.time
								%span.glyphicon.glyphicon-time
								= "#{time_ago_in_words(notification.created_at)} ago"

