<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @listing_attachment.listing_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @listing_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_listing_attachment_path(@listing_attachment) %> |
<%= link_to 'Back', listing_attachments_path %>
