#category-section
	.row
		.col-md-10.category-tiles
			.row
				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @book.name, category_path(@book)
						.panel-body
							= link_to image_tag("book.jpg", class: "img-responsive"), category_path(@book)
						.panel-footer
							- @book.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@book, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @camera.name, category_path(@camera)
						.panel-body
							= link_to image_tag("camera.jpg", class: "img-responsive"), category_path(@camera)
						.panel-footer
							- @camera.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@camera, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @clothing.name, category_path(@clothing)
						.panel-body
							= link_to image_tag("clothing.jpg", class: "img-responsive"), category_path(@clothing)
						.panel-footer
							- @clothing.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@clothing, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @computer.name, category_path(@computer)
						.panel-body
							= link_to image_tag("computer.jpg", class: "img-responsive"), category_path(@computer)
						.panel-footer
							- @computer.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@computer, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @electronic.name, category_path(@electronic)
						.panel-body
							= link_to image_tag("electronic.jpg", class: "img-responsive"), category_path(@electronic)
						.panel-footer
							- @electronic.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@electronic, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center.rfix-320
							= link_to @event.name, category_path(@event)
						.panel-body
							= link_to image_tag("event.jpg", class: "img-responsive"), category_path(@event)
						.panel-footer
							- @event.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@event, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @medical.name, category_path(@medical)
						.panel-body
							= link_to image_tag("medical.jpg", class: "img-responsive"), category_path(@medical)
						.panel-footer
							- @medical.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@medical, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @musical.name, category_path(@musical)
						.panel-body
							= link_to image_tag("musical.jpg", class: "img-responsive"), category_path(@musical)
						.panel-footer
							- @musical.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@musical, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @realestate.name, category_path(@realestate)
						.panel-body
							= link_to image_tag("realestate.jpg", class: "img-responsive"), category_path(@realestate)
						.panel-footer
							- @realestate.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@realestate, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @service.name, category_path(@service)
						.panel-body
							= link_to image_tag("service.jpg", class: "img-responsive"), category_path(@service)
						.panel-footer
							- @service.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@service, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @sport.name, category_path(@sport)
						.panel-body
							= link_to image_tag("sport.jpg", class: "img-responsive"), category_path(@sport)
						.panel-footer
							- @sport.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@sport, subcategory)

				.col-lg-3.col-md-4.col-sm-4.col-ms-6
					.panel.panel-default
						.panel-heading.text-center
							= link_to @vehicle.name, category_path(@vehicle)
						.panel-body
							= link_to image_tag("vehicle.jpg", class: "img-responsive"), category_path(@vehicle)
						.panel-footer.rfix-320-2
							- @vehicle.subcategories.each do |subcategory|
								%p= link_to subcategory.name, category_subcategory_path(@vehicle, subcategory)
		.col-md-2
			.ads-section
				%h4.text-center Ads section


.jumbotron
	%h3 Top Rated Items
	- if @listings.present?
		- @listings.each do |listing|
			%li
				%span
					= listing.created_at.strftime('%B %d, %Y')
				%br
				= link_to image_tag(listing.listing_attachments.first.avatar.thumb.url), listing
				.star-rating{:data => {'score' => listing.average_rating}} 
				= link_to listing.title, listing
				( 
				= listing.city
				- if listing.locality.blank?
					)
				- else 
					,
					= listing.locality
					)
				- if listing.price.blank?
				-else
					Rs. 
					= listing.price 
					per 
					= listing.time
	- else 
		%p No Items found


%script
	$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
	score: function() {
	return $(this).attr('data-score');
	}
	});

