= link_to "Home", root_path
>
= @category.name

- @category.subcategories.each do |subcategory|
	%ol
		%li= link_to subcategory.name, category_subcategory_path(@book, subcategory)
%ul
	%li 
		= link_to "Popular", request.query_parameters.merge({:price => "popular"})
	%li 
		= link_to "High Price", request.query_parameters.merge({:price => "high"})
	%li 
		= link_to "Low Price", request.query_parameters.merge({:price => "low"})
	%li 
		= link_to "New", request.query_parameters.merge({:price => "new"})

%ul
- if @listings.present?
	- @listings.each do |listing|
		%li
			%span
				= listing.created_at.strftime('%B %d, %Y')
			%br
			= link_to image_tag(listing.listing_attachments.first.avatar.thumb.url), listing
			- if listing.reviews.blank?
				- @avg_review = 0
			- else
				- @avg_review = listing.reviews.average(:rating).round(2)
			.star-rating{:data => {'score' => @avg_review}} 
			= link_to listing.title, listing
			( 
			= listing.city
			- if listing.locality.blank?
				)
			- else 
				,
				= listing.locality
				)
			- if listing.price.blank?
			-else
				Rs. 
				= listing.price 
				per 
				= listing.time
	= will_paginate @listings, renderer: BootstrapPagination::Rails
	
- else 
	%p No Items found
%script
	$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
	score: function() {
	return $(this).attr('data-score');
	}
	});