= link_to "Home", root_path
>
= @category.name

%ul
- if @listings.present?
	- @listings.each do |listing|
		%li
			%span
				= listing.created_at.strftime('%B %d, %Y')
			= image_tag listing.listing_attachments.first.avatar.thumb.url
			= link_to listing.title, listing
			( 
			= listing.city
			,
			= listing.state
			)
- else 
	%p No Items found