.edit-content
	= simple_form_for [@listing, @review], html: {'data-parsley-validate' => '' } do |f|
		= f.error_notification
		.form-inputs
			#star-rating
			%br

			= f.input :title, required: true, input_html: {  :'data-parsley-required-message' => 'Review title is required', 'data-parsley-trigger' => 'change focusout' }, autofocus: true, :placeholder => 'Title'

			= f.input :comment, :placeholder => 'Comment'

		.form-action
			= f.button :submit, ( f.object.new_record? ? "Write a Review" : "Update a Review")

.edit-footer
	%p
		= link_to "Cancel", listing_path(@listing)

%script
	$('#star-rating').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
	});
