!!!5
%html
	%head
		%title Rent4u
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	%body
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "Rent4U", root_path
				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?
						%li
							= render 'notifications/notification_dropdown'
						%li= link_to "My Items", mylistings_path
						%li= link_to "My Account", edit_user_registration_path
						%li= link_to "Sign Out", destroy_user_session_path, method: :delete
					- else
						%li= link_to "Sign In", new_user_session_path
						%li= link_to "Sign Up", new_user_registration_path
					%li= link_to 'Post an Item', new_listing_path, 'data-no-turbolink' => true
		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"

			
			= form_tag search_main_listings_path, method: :get do |f|
				= text_field_tag :search_main, nil, placeholder: 'Search'
				= text_field_tag :location, nil, placeholder: 'Near'
				= select_tag :category, options_for_select(Category.all.map { |c| [c.name, c.id] }), :include_blank => 'All categories', :default => nil
				= submit_tag '>'

			= yield
			= link_to "Rent4U", root_path
			%ul
			%li= link_to "Help and FAQ", help_path
			%li= link_to "Terms of Use", term_path
			%li= link_to "Privacy Policy", privacy_path
			%li= link_to "About Us" , about_path
			%li= link_to "Contact Us", contact_path

- @search_listings = Listing.all

- search_titles = []
- search_location = []

- @search_listings.each do |listing|
	- @s_title = listing.title
	- search_titles.push(@s_title)

	- @s_location = listing.city
	- search_location.push(@s_location)

- search_titles.uniq!
- @json = search_titles.to_json
- @jsonsafe = @json.html_safe

- search_location.uniq!
- @json2 = search_location.to_json
- @jsonsafe2 = @json2.html_safe

%script
	$(function() {
	$( "#search_main" ).autocomplete({
	source: 
	= @jsonsafe
	,
	autoFocus:true,
	minLength:1,
	delay:250,
	});
	});

%script
	$(function() {
	$( "#location" ).autocomplete({
	source: 
	= @jsonsafe2
	,
	autoFocus:true,
	minLength:1,
	delay:250,
	});
	});
