!!!5
%html
%head
	%title Rent4u
	= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= csrf_meta_tags

%body

	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Rent4U", root_path
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Account"
				%li= link_to "Sign In"
				%li= link_to 'Post an Item', new_listing_path
	.container
		= yield
		= link_to "Rent4U", root_path
		%ul
		%li= link_to "Help and FAQ", help_path
		%li= link_to "Terms of Use", term_path
		%li= link_to "Privacy Policy", privacy_path
		%li= link_to "About Us" , about_path
		%li= link_to "Contact Us", contact_path